Dictionary

In [1]:
d = {}

In [2]:
type(d)

dict

In [3]:
d1 = {'key' :"sudh"}                           #key should always be unique
                                        #jaise dictionary me hota h ,, word and meaning 
                                         # vaise hi yha pr ,, key and value hoti h

In [4]:
d1

{'key': 'sudh'}

In [5]:
d2 = {"name":"shudanshu","email" :"ss@gmail.com","number" : 334534}

In [6]:
'''

d2 = {"name":"shudanshu","email" :"ss@gmail.com","number" : 334534}
        |        |          |            |          |          |
       key     value       key         value       key        value

'''

'\n\nd2 = {"name":"shudanshu","email" :"ss@gmail.com","number" : 334534}\n        |        |          |            |          |          |\n       key     value       key         value       key        value\n\n'

In [7]:
#jha v pair me ya reference me data store krna hoga ,vha dictionary ka use krenge

In [8]:
d2

{'name': 'shudanshu', 'email': 'ss@gmail.com', 'number': 334534}

In [9]:
d3 = {234 : "sudh"}       #key me ham koi v value le skte h, numeric string , many more

In [10]:
d3

{234: 'sudh'}

In [11]:
d3 = {234 : "sudh" ,@wer:"kumar"}   #special case characters nhi accept krta as a key

SyntaxError: invalid syntax (2276305000.py, line 1)

In [12]:
d3 = {234 : "sudh" ,_wer:"kumar"}     #underscore bhi kam nhi krtra

SyntaxError: invalid syntax (3761367387.py, line 1)

In [13]:
d3 = {234 : "sudh" ,"_wer":"kumar"}    #lekin agr quotes ke andr likh rhe h , to vo accept kr leta h
                                         # because finally vo string me bdl jata h

In [14]:
d3 = {234 : "sudh" ,"_wer":"kumar",True:24234}    #boolean value v accept kr rha h

In [15]:
#agr hme dictionary se value nikalna h, to kaise krenge?
d3 = {234 : "sudh" ,"_wer":"kumar",True:24234}

In [17]:
#yha hme key ki help se value ko nikalna pdhega , kyuki yha pr indexing ka formate nhi h

d3[234]

'sudh'

In [18]:
d3[True]

24234

In [20]:
d3[1]    #True/1  , False/0

24234

In [21]:
d4 ={'name': 'sudh','mail_id':'aa@gmail.com','name':"suhanshu"}

In [22]:
d4

{'name': 'suhanshu', 'mail_id': 'aa@gmail.com'}

In [23]:
d4['name']    # agr key unique nhi h to overwrite ho jata h
              # jaise iss case me "name" : 'sudh' se 'name' : 'suhanshu' ho gya

'suhanshu'

In [24]:
# jo sabse last vala value hoga usse overwrite kr lega

In [1]:
d9 = {1:345}

In [2]:
type(d9)

dict

In [25]:
d5 = {'company':'pwskills',"courses":['web dev','data science','java']}   # yha pr value as a list v rkh skte h

In [26]:
d5

{'company': 'pwskills', 'courses': ['web dev', 'data science', 'java']}

In [27]:
d5['courses']

['web dev', 'data science', 'java']

In [28]:
d5['courses'][2]

'java'

In [31]:
d6 = {'number':[2,34,3,34,34],'assignment':(1,2,3,4,5,6), "launch_date":{28,12,14}}   # list v ,tuple v , set v   as a value le skte h

In [33]:
d6 = {'number':[2,34,3,34,34],'assignment':(1,2,3,4,5,6), "launch_date":{28,12,14},'class_timing':{"web dev":8,'data science':8,'java':7}}

In [34]:
d6  #dictionary ke andr dictionary

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_timing': {'web dev': 8, 'data science': 8, 'java': 7}}

In [35]:
d6['class_timing']['java']

7

In [36]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_timing': {'web dev': 8, 'data science': 8, 'java': 7}}

In [37]:
# add a new key and value pair

d6['mentor']=['sudh','krish','anurag']

In [38]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_timing': {'web dev': 8, 'data science': 8, 'java': 7},
 'mentor': ['sudh', 'krish', 'anurag']}

In [39]:
d6['number']=['sudh','krish','anurag']   #agr phle se available h key to usse overwrite / update kr dega

In [40]:
d6

{'number': ['sudh', 'krish', 'anurag'],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_timing': {'web dev': 8, 'data science': 8, 'java': 7},
 'mentor': ['sudh', 'krish', 'anurag']}

In [41]:
del d6['number']    # delete krne ke liye , kisi v key ko

In [42]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_timing': {'web dev': 8, 'data science': 8, 'java': 7},
 'mentor': ['sudh', 'krish', 'anurag']}

In [43]:
# dictionary me jitne bhi key sb ki list nikalna h?

d6.keys()

dict_keys(['assignment', 'launch_date', 'class_timing', 'mentor'])

In [44]:
list(d6.keys())

['assignment', 'launch_date', 'class_timing', 'mentor']

In [45]:
d6.values()  # dict.  se sbhi value ko nikalna?

dict_values([(1, 2, 3, 4, 5, 6), {28, 12, 14}, {'web dev': 8, 'data science': 8, 'java': 7}, ['sudh', 'krish', 'anurag']])

In [46]:
list(d6.values())    # proper list formate me change kr rhe h

[(1, 2, 3, 4, 5, 6),
 {12, 14, 28},
 {'web dev': 8, 'data science': 8, 'java': 7},
 ['sudh', 'krish', 'anurag']]

In [47]:
d6.items()    # agar key ar value dono nikalna h

dict_items([('assignment', (1, 2, 3, 4, 5, 6)), ('launch_date', {28, 12, 14}), ('class_timing', {'web dev': 8, 'data science': 8, 'java': 7}), ('mentor', ['sudh', 'krish', 'anurag'])])

In [48]:
list(d6.items())

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_timing', {'web dev': 8, 'data science': 8, 'java': 7}),
 ('mentor', ['sudh', 'krish', 'anurag'])]

In [49]:
d6.pop('assignment')   # pop function se bhi ham value ko delete kr skte h

(1, 2, 3, 4, 5, 6)

In [50]:
d6

{'launch_date': {12, 14, 28},
 'class_timing': {'web dev': 8, 'data science': 8, 'java': 7},
 'mentor': ['sudh', 'krish', 'anurag']}

In [51]:
d6.pop()   # yha pr error aayega kyuki , dict. data ko index ke form me store nhi karta h
            # hme pop use krke , key ki value deni hi hogi jise remove karna h

TypeError: pop expected at least 1 argument, got 0

In [52]:
# dictionary is mutable

conditional statement / dicision making statement

In [53]:
marks = 65

if marks >= 80:
    print("you well be part of A0 batch")
elif marks >= 60 and marks < 80 :
    print('you will be part of A1 batch')
elif marks >= 40 and marks < 60 :
    print("you will be part of A2 batch")
else :
    print("you will be part of A3 batch")

you will be part of A1 batch

In [56]:
marks = int(input("Enter your marks"))

if marks >= 80:
    print("you well be part of A0 batch")
elif marks >= 60 and marks < 80 :
    print('you will be part of A1 batch')
elif marks >= 40 and marks < 60 :
    print("you will be part of A2 batch")
else :
    print("you will be part of A3 batch")

you will be part of A2 batch

In [57]:
price = int(input("enter price"))

if price > 1000:
    print("I wil not purchase")
else:
    print("I will purchase")

I will purchase

In [58]:
price = int(input("enter price"))

if price > 1000:
    print("I wil not purchase")

I wil not purchase

In [60]:
price = int(input("enter price"))

if price > 1000:
    print("I will not purchase")
    if price > 5000:
      print("This is too much")

I will not purchase
This is too much

In [63]:
price = int(input("enter price"))

if price > 1000:
    print("I will not purchase")
    if price > 5000:
      print("This is too much")
    elif price < 2000:
       print("Its ok")

I will not purchase
Its ok

In [64]:
price = int(input("enter price"))

if price > 1000:
    print("I will not purchase")
    if price > 5000:
      print("This is too much")
    elif price < 2000:
       print("Its ok")
elif price < 1000:
   print("I will purchase")  
else :
   print(" I am not intersted")

I will purchase

Loop statements

In [66]:
l = [1,2,3,4,5,6,7,8]

In [67]:
l[0] + 1

2

In [68]:
l1 = []

In [69]:
l1.append(l[0]+1)

In [70]:
l1

[2]

In [79]:
# yek yek element ko nikal kr uss me 1 add krte jana h?
l = [1,2,3,4,5,6,7,8]

2
3
4
5
6
7
8
9

In [81]:
l1 = []
for a in l :
    print(a + 1)  
    l1.append(a + 1) 
l1

2
3
4
5
6
7
8
9

[2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
l = [1,2,3,4,5,6,7,8]
l1 = []
for a in l :
      
    l1.append(a + 1) 
    print(a + 1)
l1

2
3
4
5
6
7
8
9

[2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
l = ["sudh","kumar","pwskills","course"]  # inn sbhi ko uppercase me change kro , ar list do
l1=[]
for i in l:
    print(i)
    l1.append(i.upper())
l1

sudh
kumar
pwskills
course

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [87]:
l1

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [91]:
l = [1,2,3,4,4,'sudh','kumar',342,23.5,'abc']   # do seprate list bnana h yek me integer yek me string

In [95]:
l1_num=[]
l2_string=[]
for i in l:
     if type(i) == int or type(i) == float:
          l1_num.append(i)
     else :
          l2_string.append(i)

In [97]:
l1_num

[1, 2, 3, 4, 4, 342, 23.5]

In [98]:
l2_string

['sudh', 'kumar', 'abc']