In [1]:
print("this is my print")

this is my print

In [2]:
l= [1,2,3,4,5]

In [3]:
len(l)

5

In [4]:
type(l)

list

In [5]:
#function bnate kaise h python ke andr

In [6]:
def test():     #jab v function bnate h to kuch purpose v dete h ki kam kya krega
                # def means definition

SyntaxError: incomplete input (2690612609.py, line 2)

In [7]:
def test():
    pass               # agr ham sirf name bna kr chhodd rhe h , kuch define nhi kiya 
                              # error na aa jaye iss liye ham [pass] ko use karte hai

In [8]:
def test1 ():
    print("this is my very very first function")

In [9]:
test1()    #jaise hame apna create kiya hua function call kiya , jo v hame purpose diya vo perform kr dega

this is my very very first function

In [10]:
# function define se ,reusibility increase ho jati h, jisse yek hi task ko baar baar nhi likhna pdhta 
  # bass function ko call kr do

In [11]:
test1() + "sudh"                #print always nontype data type return karta h
                          # issi liye concatenate nhi hua , error show karne laga

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [12]:
def test2():
    return "this is my first return"    #retuen as it is output deta jo bhi hamne likha h

In [13]:
test2()

'this is my first return'

In [16]:
test2() + " sudh"    # dono same data type h iss liye add ho gye

'this is my first return sudh'

In [17]:
def test3():
    return "sudh" ,23,345.56,[1,2,3,4]

In [18]:
test3()

('sudh', 23, 345.56, [1, 2, 3, 4])

In [19]:
#agar hame data ko alag alag variable me store karna h?

In [20]:
a,b,c,d = test3()

In [21]:
a

'sudh'

In [22]:
b

23

In [23]:
c

345.56

In [24]:
d

[1, 2, 3, 4]

In [25]:
#jaise ham variable assign karte h

a = 1
b = 4

In [26]:
# isko ham iss trh v likh skte h
a,b = 1,4

In [27]:
a

1

In [28]:
b

4

In [31]:
def test4():
    a = 5+6/7       # objective :  jo bhi hamne function likha h vo return kar de
    return a

In [30]:
test4()

5.857142857142857

In [33]:
#user data ko dale , uss case me function likhenge

def test5(a,b,c):
    d = a+b/c
    return d

In [34]:
test5()     # hamne koi data nhi diya , iss liye error aa gya

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [35]:
test5(2,5,8)  #hamne jo v compution likha tha uss ko perform kr ke result dega

2.625

In [36]:
def test6(a,b):
    return a+b

In [38]:
test6(3,4)

7

In [40]:
test6("sudh"," kumar")

'sudh kumar'

In [41]:
test6([1,2,3,4,5],[7,8,9,0])

[1, 2, 3, 4, 5, 7, 8, 9, 0]

In [42]:
l = [1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]

In [43]:
#yek function bnate h , jo list se int value ko yek dusri list me de

In [45]:
l1 = []
for i in l:
    if type(i) == int or type(i) == float :
        l1.append(i)

In [46]:
l1

[1, 2, 3, 4]

In [47]:
def test7(l):
    l1 = []
    for i in l:
        if type(i) == int or type(i) == float :
          l1.append(i)
    return l1

In [48]:
l1

[1, 2, 3, 4]

In [49]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [52]:
#list ke andr se list ko nikalo

def test8(a):
    l =[]
    for i in a :
        if type(i) == list:
            for j in i:
                l.append(j)
        else :  
            if type(i) == int or type(i) == float:
                l.append(i)    
    return l

In [53]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [54]:
def test9(a):
    l =[]                                  # jab ham cursor ko apne defined function pr rkhte h to vo docstring koi information nhi show karta h
                                                                   #(function) def test9(a: Unknown) -> list[Unknown]                                                
    for i in a :
        if type(i) == list:                             # ab issi ko dekhte h ki ye kaise ham v likh skte h
            for j in i:
                l.append(j)
        else :  
            if type(i) == int or type(i) == float:
                l.append(i)    
    return l

In [55]:
def test9(a):
    '''This is my function to extract num. data from list'''
    l =[]
    for i in a :
        if type(i) == list:
            for j in i:
                l.append(j)
        else :  
            if type(i) == int or type(i) == float:
                l.append(i)    
    return l

In [58]:
test9(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [59]:
# ham jo bhi function bnaye uska docstrig jrur define kare , taki koi bhi usse padh kar smgh ske

In [60]:
def test10(a,b):
    return a+b

In [61]:
# function bn rhe jis me kitna v data input kr skte h user ke trf se

def test11(*args):
    return args            # (*) means n number of arguments you can pass inside a function

In [62]:
test11()      # ye data tuples ke form me rkhta h

()

In [63]:
type(test11())

tuple

In [64]:
test11(1,3,4)

(1, 3, 4)

In [65]:
test11(1,2,3,'site',[2,5,6])

(1, 2, 3, 'site', [2, 5, 6])

In [66]:
def test12(*anupam):
    return anupam

In [67]:
test12(1.2,3,4,5)

(1.2, 3, 4, 5)

In [68]:
def test13(*args,a):
    return args,a

In [69]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [70]:
test13(1,2,3,a = 23)

((1, 2, 3), 23)

In [71]:
def test14(c,d,a =23,b=1):
    return a,b,c,d

In [72]:
test14()    # a, b ki value already define pr c,d ki nhi iss  liye error aaya

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [73]:
test14(3,4)

(23, 1, 3, 4)

In [75]:
test14(2,5,a = 2345)   #ham defined value ko v change kar skte h

(2345, 1, 2, 5)

In [76]:
# data cahiye dictionary form me

def test15(**kwargs):
    return kwargs

In [77]:
test15()

{}

In [78]:
type(test15())

dict

In [80]:
test15(a = [1,2,3,4], b = 'sudh', c = 23.45)    #data inpurt kr rhe key value pair me

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}