Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [11]:
string = "Name"
list = [2,3,4,"skills",22.5,True,(7,8,9,"python")]
float = 99.99
tuple = (6,7,8,True,"Game")

Q2. Given are some following variables containing data:
(i) var1 = ''
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [20]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
list = [var1,var2,var3,var4]
for i in list :
    print(type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
#<class 'str'>    #empty and unstructured string without ""
#<class 'str'>     #unstructured string without ""  
#<class 'list'>    #this one is list
#<class 'float'>   #this one is float that have no number after point

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [23]:
# / Division operator
# Used for division between to integers
25/5

5.0

In [24]:
# % Modulus Operator
# Used to showcase remainder after division
24%4

0

In [25]:
# // Floor division Operator
# used to round off the result of division to nearest whole number or integer 
       # which is less than or equal to normal division result
5//4

1

In [27]:
# ** Exponent/Power Operator
# used to showcase power of integers in python
2**4

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [30]:
list = [2,3,True,"skills",22.5,False,(5,6,7,True,"Name"),'Data Science',8.,range(5)]
for i in list :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'tuple'>
<class 'str'>
<class 'float'>
<class 'range'>

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [50]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [51]:
a = 3
for i in l :
    if i % a == 0 :
        print(f"{i} Divisible ")         
else :
    print(f"{i} not Divisible ")

3 Divisible
6 Divisible
9 Divisible
12 Divisible
15 Divisible
18 Divisible
21 Divisible
24 Divisible
25 not Divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [55]:
# Mutable datatypes are those that allow you to change their value or data in place 
l = [2,3,4,"Name",True,6.7]
for i in l:
    l[3]="Anupam"
    print(i)

2
3
4
Anupam
True
6.7

In [57]:
# Imutable datatypes do not allow you to change their value or data in place
a = "Shangri-La"
for i in a :
    a[5] = "R"
    print(i)

TypeError: 'str' object does not support item assignment

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [2]:
num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))
count = 0
if num2 != 0 :
    while num1 >= num2 :
        num1 -= num2
        count += 1
    if num1 == 0 :
            print(f"Divisible by {count} times")
    else :
            print("Not Divisible")
else:
    print("Division by 0 is not allowed")

Division by 0 is not allowed