In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("players_data.csv")

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [10]:
df.describe() # ye sirf numerical data ko hi describe karega , string data ko nhi

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,675,675,675,675,675,675,675,675,675,675,...,650,675,675,675,675,675,675,675,675,675
unique,493,493,12,21,32,84,81,557,327,458,...,275,165,293,350,249,119,98,177,214,463
top,Rk,Player,SG,23,TOT,82,0,MP,FG,FGA,...,.500,1,DRB,TRB,AST,0,0,TOV,PF,PTS
freq,24,24,145,86,76,27,179,24,24,24,...,29,30,24,24,24,29,88,24,24,24

In [11]:
# sb me 675 count dikha rha h , par ft% me sirf 650 hi dikha rha h 
# iska mtlb h ki usme kuch data missing h.

In [12]:
df.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [ ]:
df[['GS',"ORB"]]

![Screenshot 2024-01-11 184122](https://github.com/anu78600/Learning/assets/123054203/56d24e10-08ee-4aa1-ab9e-89139445f684)

In [14]:
# jab column bhut jada ho to ham condition likh kar data type bta skte h