In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("players_data.csv")

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [10]:
df.describe() # ye sirf numerical data ko hi describe karega , string data ko nhi

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,675,675,675,675,675,675,675,675,675,675,...,650,675,675,675,675,675,675,675,675,675
unique,493,493,12,21,32,84,81,557,327,458,...,275,165,293,350,249,119,98,177,214,463
top,Rk,Player,SG,23,TOT,82,0,MP,FG,FGA,...,.500,1,DRB,TRB,AST,0,0,TOV,PF,PTS
freq,24,24,145,86,76,27,179,24,24,24,...,29,30,24,24,24,29,88,24,24,24

In [11]:
# sb me 675 count dikha rha h , par ft% me sirf 650 hi dikha rha h 
# iska mtlb h ki usme kuch data missing h.

In [12]:
df.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [15]:
df[['GS',"ORB"]]

     GS  ORB
0    22   79
1     0    9
2    67  199
3     0   23
4    72   27
..   ..  ...
670  68  127
671  48   75
672  20   52
673  45   97
674  59  146

[675 rows x 2 columns]

In [14]:
# jab column bhut jada ho to ham condition likh kar data type bta skte h

In [16]:
df.dtypes == 'object'

Rk        True
Player    True
Pos       True
Age       True
Tm        True
G         True
GS        True
MP        True
FG        True
FGA       True
FG%       True
3P        True
3PA       True
3P%       True
2P        True
2PA       True
2P%       True
eFG%      True
FT        True
FTA       True
FT%       True
ORB       True
DRB       True
TRB       True
AST       True
STL       True
BLK       True
TOV       True
PF        True
PTS       True
dtype: bool

In [18]:
df.dtypes[df.dtypes == 'object'].index

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [19]:
# hamne vhi data filter out kiya hua h , jinka data type object h

In [20]:
df[df.dtypes[df.dtypes == 'object'].index].describe()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,675,675,675,675,675,675,675,675,675,675,...,650,675,675,675,675,675,675,675,675,675
unique,493,493,12,21,32,84,81,557,327,458,...,275,165,293,350,249,119,98,177,214,463
top,Rk,Player,SG,23,TOT,82,0,MP,FG,FGA,...,.500,1,DRB,TRB,AST,0,0,TOV,PF,PTS
freq,24,24,145,86,76,27,179,24,24,24,...,29,30,24,24,24,29,88,24,24,24

In [21]:
df[df.dtypes[df.dtypes == 'float64'].index]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[675 rows x 0 columns]

In [22]:
df.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [27]:
df[['DRB']][4:11:2]

    DRB
4   220
6    61
8    98
10  549

In [28]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [29]:
df["new_col"] = 0

In [30]:
df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,new_col
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,79,222,301,68,27,22,60,147,398,0
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,9,19,28,16,16,7,14,24,94,0
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,199,324,523,66,38,86,99,222,537,0
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,23,54,77,15,4,9,9,30,60,0
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,27,220,247,129,41,7,116,167,1035,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,127,284,411,173,124,25,117,171,1071,0
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,75,170,245,135,86,17,75,115,685,0
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,52,114,166,38,38,8,42,56,386,0
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,97,265,362,100,34,49,62,156,472,0
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,146,319,465,113,18,52,76,205,833,0