In [1]:
l = [2,3,4,5,6]

In [6]:
def test(l):
    l1 = []                 #diye huye list ka square nikal kr dusre list me output le rhe h
    for i in l:
        l1.append(i**2)
    return l1

In [7]:
test(l)

[4, 9, 16, 25, 36]

In [ ]:
# uper vale ko iss praker v kar skte h

In [8]:
def sq(x):
    return x**2

In [9]:
map(sq,l)    # map 2 parameters leta h
              # map(function,iterables)

In [10]:
list(map(sq , l))   # map function yek yek me ja kar output dega , just as iterator

[4, 9, 16, 25, 36]

In [11]:
# isko lambda function ki help se bhi likh skte h

In [13]:
list(map(lambda x : x**2 ,l))

[4, 9, 16, 25, 36]

In [14]:
# jha bahut bada logic hai ,vha external function likh kar maping kr skte h

# jha chhota logic likhna h , vha lambda function ke sath maping kr skte h

In [15]:
l1 = [1,2,3,4,5]   # do list le ar index wise addition kar de , function likhenge
l2 = [6,7,8,9,10]

list(map(lambda x,y : x+y ,l1,l2))

[7, 9, 11, 13, 15]

In [16]:
''' 
upar output kaise aa rha h

1+6 = 7
7+2 = 9
8+3 = 11
9+4 = 13
10+5 = 15

index wise addition ho rha h


'''

' \nupar output kaise aa rha h\n\n1+6 = 7\n7+2 = 9\n8+3 = 11\n9+4 = 13\n10+5 = 15\n\nindex wise addition ho rha h\n\n\n'

In [17]:
# isko ese v kar skte h

def add(x,y):
    return x+y

In [18]:
list(map(add,l1,l2))

[7, 9, 11, 13, 15]

In [19]:
s = 'pwskills'   #uppercase me change kr rhe h

In [21]:
list(map(lambda s : s.upper() ,s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

reduce Function

In [22]:
# ye liberay se import karna pdhega , direct nhi use kar skte h

In [23]:
from functools import reduce

In [24]:
l = [1,2,3,4,5]

In [ ]:
# reduce me bhi do parameter hota h
#reduce (function , iterable)

In [25]:
# in sabhi function ka sumation nikal ke do
reduce(lambda x,y: x+y ,l)   # reduce function = function that implements mathematical technique and provides output into a single cumulative value.

15

In [26]:
#kam kaise kr rha h
''' 
  1    2    3     4     5

x = 1 y = 2 -> 3                     #reduce single entety me answer deta h
x = 3 y = 3 -> 6
x = 6 y = 4 -> 10
x = 10 y = 5 -> 15

 15 is the final answer of the sumation
'''

' \n  1    2    3     4     5\n\nx = 1 y = 2 -> 3                     #reduce single entety me answer deta h\nx = 3 y = 3 -> 6\nx = 6 y = 4 -> 10\nx = 10 y = 5 -> 15\n\n 15 is the final answer of the sumation\n'

In [27]:
reduce(lambda x,y,z: x+y+z ,l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [28]:
#yek sath do hi parameter ho skta h

''' 
esa kyu h , smghte h

  1       2        3         3        4          5

x = 1  y = 2   z = 3 -> 6

x = 6 y = 3 z = 4 -> 13

x = 13 y = 5  z = ?????    koi element hi nhi bcha , to kaise  operation perform kare 
                                 iss liye error aata h , ar ye nhi leta tin parameters ko

'''

' \nesa kyu h , smghte h\n\n  1       2        3         3        4          5\n\nx = 1  y = 2   z = 3 -> 6\n\nx = 6 y = 3 z = 4 -> 13\n\nx = 13 y = 5  z = ?????    koi element hi nhi bcha , to kaise  operation perform kare \n                                 iss liye error aata h , ar ye nhi leta tin parameters ko\n\n'

In [29]:
reduce(lambda x,y: x+y ,[])

TypeError: reduce() of empty iterable with no initial value

In [31]:
reduce(lambda x,y: x+y ,[1])   # ye yek exceptional case h , jisme y na hone pr v output mil gya
                                 # y me koi element nhi h ,sirf x me 1 h

1

In [32]:
'''
reduce(lambda x,y: x+y ,l)    
              ---       - data single bhi input kar skte h
              argument kabhi bhi 2 se jada nhi hona chahiye 

'''

'\nreduce(lambda x,y: x+y ,l)    \n              ---       - data single bhi input kar skte h\n              argument kabhi bhi 2 se jada nhi hona chahiye \n\n'

In [33]:
reduce(lambda x,y: x*y ,l)   #list ke data ko multiply kar diye

120

In [34]:
l

[1, 2, 3, 4, 5]

In [35]:
# list se highest data ko nikalna h

reduce(lambda x , y : x if x > y else y , l)

5

Filter Function

In [36]:
l

[1, 2, 3, 4, 5]

In [37]:
#even number nikal ke do

list(filter(lambda x: x % 2 == 0 ,l))

[2, 4]

In [38]:
# x % 2 == 0  means , x is divided by 2 and remainder equal to 0 , then divisible by 2

In [39]:
#odd number nikal ke do

list(filter(lambda x: x % 2 != 0 ,l))

[1, 3, 5]

In [40]:
# x % 2 != 0  means , x is divided by 2 and remainder is not equal to 0 , then its odd number

In [41]:
l1 = [-3,4,5,6,-1,-5]

In [42]:
list(filter(lambda x : x<0 ,l1))   # negative number nikal ke do

[-3, -1, -5]

In [45]:
l2 = ['sudh' , 'pwskills', 'kumar' , 'bengalore', "krish"]

In [46]:
list(filter(lambda x : len(x) < 6 , l2))  # ese string jinki length 6 ke kam h nikal ke do

['sudh', 'kumar', 'krish']