In [9]:
l = [1,2,45,"sudh",True,5+7j,345.46]     #list me ham different datatypes ko store kr skte h
                                         # always inside square bracket,thats when it called list

In [3]:
type(l)

list

In [4]:
l[0:5]                         #list also stores data in form of indexes
                                #list ke andr v ham indexing kr skte h 
                                # sath hi slicing v perform kr skte hai

[1, 2, 45, 'sudh', True]

In [5]:
l[0]

1

In [6]:
l[5]

(5+7j)

In [7]:
type(l[5])

complex

In [8]:
l[90]

IndexError: list index out of range

In [9]:
'''
string ke andr ham character stores kr skte h chahe vo numeric ho ya special character ho

but

List ke ham kisi v trh ka data stores kr skte h , primitive or non primitive bhi
 jaise , list ke andr list , list ke andr tuple, string,numeric ,float,boolean , kisi bhi type ka data stores kr skte hai
 '''

'\nstring ke andr ham character stores kr skte h chahe vo numeric ho ya special character ho\n\nbut\n\nList ke ham kisi v trh ka data stores kr skte h , primitive or non primitive bhi\n jaise , list ke andr list , list ke andr tuple, string,numeric ,float,boolean , kisi bhi type ka data stores kr skte hai\n '

In [10]:
l

[1, 2, 45, 'sudh', True, (5+7j), 345.46]

In [11]:
l[0:4]

[1, 2, 45, 'sudh']

In [12]:
l[0:3]

[1, 2, 45]

In [13]:
l[1] = 345       #particular index ke data ko change v kr skte h

In [14]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.46]

In [15]:
l[-1]       # system yek sath forwaed ar backward indexing dono create krta h inputed data ka

345.46

In [17]:
l[6]

345.46

In [16]:
'''
    0    1    2     3      4       5        6                  Forward Indexing

     |   |    |     |      |       |        |
     1  345   45  "sudh"  True   (5+7j)   345.46
     |   |    |     |      |       |        |
    -7  -6   -5    -4     -3      -2       -1                    Backward indexing

     '''

'\n    0    1    2     3      4       5        6                  Forward Indexing\n\n     |   |    |     |      |       |        |\n     1  345   45  "sudh"  True   (5+7j)   345.46\n     |   |    |     |      |       |        |\n    -7  -6   -5    -4     -3      -2       -1                    Backward indexing\n\n     '

In [18]:
l[::-1]       #list ko reverse kr rhe hai

[345.46, (5+7j), True, 'sudh', 45, 345, 1]

In [19]:
l[::2]     # even index pr jo v data h usse nikal rhe hai
              # 2 hame bta rha hai ki kitne kitne steps har baar rkhna h

[1, 45, True, 345.46]

In [20]:
'''
    0    1    2     3      4       5        6                  Forward Indexing

     |   |    |     |      |       |        |
     1  345   45  "sudh"  True   (5+7j)   345.46

    2 - 2 steps krke aage bdhna h

    
    output aaya 

    0     2     4      6
    |     |     |      |
    1    45    True   345.46


     '''

'\n    0    1    2     3      4       5        6                  Forward Indexing\n\n     |   |    |     |      |       |        |\n     1  345   45  "sudh"  True   (5+7j)   345.46\n\n    2 - 2 steps krke aage bdhna h\n\n    \n    output aaya \n\n    0     2     4      6\n    |     |     |      |\n    1    45    True   345.46\n\n\n     '

In [21]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.46]

In [22]:
s = "pwskills"

In [23]:
l+s                     #add nhi hoga , because these are two different data types

TypeError: can only concatenate list (not "str") to list

In [24]:
#agar ham list as a function le kr v string (s) ko pass kare tab bhi yek problem h 

list(s)

# list s ke andr ke sbhi character ko todh kr one by one store krta h

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [25]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.46]

In [26]:
# agr hame "sudh" me se (su) ko nikalna h , to kaise krenge
l[3]           # jis index pr "sudh h" uss index pr slicing operation perform kr denge

'sudh'

In [27]:
l[3][0:2]

'su'

In [30]:
l[4]

True

In [28]:
l[4][0:2]

TypeError: 'bool' object is not subscriptable

In [29]:
str(l[4])[0:2]     #pr yha pr true phir boolean nhi rhh jata h , vo string me change ho chuka h

'Tr'

In [31]:
l+5

TypeError: can only concatenate list (not "int") to list

In [32]:
l1 = [3,4,5]

In [33]:
l+l1

[1, 345, 45, 'sudh', True, (5+7j), 345.46, 3, 4, 5]

In [34]:
l1

[3, 4, 5]

In [35]:
l1*3     #multiply kam krega , ye same element ko repeat krdega 
         # jaise iss case me l1 ke element ko 3 baar repeat kr diya

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [36]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.46]

In [39]:
len(l)      # number of element inside list ko btayega

7

In [40]:
l + 5

TypeError: can only concatenate list (not "int") to list

In [41]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.46]

In [42]:
# ab ham dekhte h ki ham kaise add kr skte h ,other datatypes list ke andr ,
       # ham (append) function ka use krte h
l.append(5)        # at the end of the list, me data ko append krega

In [43]:
l          # 5 add hogya bina error diye huye

[1, 345, 45, 'sudh', True, (5+7j), 345.46, 5]

In [44]:
s

'pwskills'

In [45]:
l.append(s)

In [46]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.46, 5, 'pwskills']

In [47]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.46, 5, 'pwskills']

In [48]:
l1

[3, 4, 5]

In [49]:
l.append(l1)

In [50]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.46, 5, 'pwskills', [3, 4, 5]]

In [51]:
# ham list ke andr kisi v data ko bhut hi easily add kr skte h append function ki help se

In [54]:
l[9]   # forward indexing

[3, 4, 5]

In [55]:
l[-1]    #backward indexing

[3, 4, 5]

In [53]:
l[9][1]  #hame list ke andr vali list se 4 ko bahr nikalna h
           # forward indexing se answer

4

In [56]:
l[-1][1]    #backward indexing se answer

4

In [57]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.46, 5, 'pwskills', [3, 4, 5]]

In [58]:
l.extend(4)   #extend function kya krta h , dekhenge

TypeError: 'int' object is not iterable

In [59]:
l.extend("sudh")          # iterable  ka matlab hota h ki data ke andr data ho 

                             # jaise ki string , list ar v jinke andr multiple (data) characters hote h


                             # pr integer ke andr characters nhi hota h ,vo pura yek hi hota h

In [60]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.46,
 5,
 'pwskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h']

In [61]:
l.extend([6,7,8])

In [62]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.46,
 5,
 'pwskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 6,
 7,
 8]

In [64]:
'''


append me data ko as it is , add krta h 

but 

extend data ko break kr ke add krta h
'''

'\n\n\nappend me data ko as it is , add krta h \n\nbut \n\nextend data ko break kr ke add krta h\n'

In [65]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.46,
 5,
 'pwskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 6,
 7,
 8]

In [10]:
l.extend([6,7,8])   # data duplicacy ka issue nhi aayega , same data ham kitni baar v extend kr skte h

In [67]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.46,
 5,
 'pwskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 6,
 7,
 8,
 6,
 7,
 8]

In [2]:
l0 = [1,2,'anu',True,2.3]

In [3]:
l0.extend([4,5,6])

In [5]:
l0

[1, 2, 'anu', True, 2.3, 4, 5, 6]

In [6]:
l0.extend([4,5,6])

In [7]:
l0

[1, 2, 'anu', True, 2.3, 4, 5, 6, 4, 5, 6]

In [68]:
l1

[3, 4, 5]

In [69]:
l1.insert(1,'sudh')                     # append ar extend se data hamesa last me hi dalta tha   
                              # jis jgh pr chahe vha data dal skte h

In [70]:
l1

[3, 'sudh', 4, 5]

In [71]:
'''            ye btata hai ki kya data dalna h 
               |
l1.insert(1,'sudh')
          |
          ye parameter btata h ki kha pr data dalna h 

          
jaise iss case me hame 1 index pr 'sudh' data ko insert kiya h

'''

"            ye btata hai ki kya data dalna h \n               |\nl1.insert(1,'sudh')\n          |\n          ye parameter btata h ki kha pr data dalna h \n\n          \njaise iss case me hame 1 index pr 'sudh' data ko insert kiya h\n\n"

In [72]:
l1.insert(2,[2,3,4])

In [73]:
l1    # insert karta kya h jo data phle h ,usse yek index push kr deta h

[3, 'sudh', [2, 3, 4], 4, 5]

In [74]:
l1.insert(2,[2,3,4])

In [75]:
l1

[3, 'sudh', [2, 3, 4], [2, 3, 4], 4, 5]

In [86]:
l1.insert(-1,80)

In [87]:
l1

[3, 'sudh', [2, 3, 4], [2, 3, 4], 4, 80, 5]

In [88]:
'''

logically samghe to , 

data usne -1 pr hi insert kiya 80 ko , pr usne 5 ko push bhi to kiya 

 iske karn output me hame dikh rha ,ab 5 yek index piche gya 

  ultimately vo index -1 pr hi gya 

  '''
#  5 pichhe khisk gya , jab indexing start hogi to phir se -1 se hi hogi

# issi liye hame aisa lag rha h ki syatem ne 80 ko -2 pr rkha h

'\n\nlogically samghe to , \n\ndata usne -1 pr hi insert kiya 80 ko , pr usne 5 ko push bhi to kiya \n\n iske karn output me hame dikh rha ,ab 5 yek index piche gya \n\n  ultimately vo index -1 pr hi gya \n\n  '

In [89]:
l1.insert(0,45)

In [90]:
l1

[45, 3, 'sudh', [2, 3, 4], [2, 3, 4], 4, 80, 5]

In [92]:
# data delete krne ke liye list me , bhut se function hote h 

l1.pop()                  # By default issme hmesa (-1) index hota h

5

In [93]:
l1          #jaise iss case me -1 index position ka data pop ne delete kiya

[45, 3, 'sudh', [2, 3, 4], [2, 3, 4], 4, 80]

In [94]:
l1.pop()

80

In [95]:
l1

[45, 3, 'sudh', [2, 3, 4], [2, 3, 4], 4]

In [96]:
l1.pop(2)    # yha hamne particular index ko delete kiya h

'sudh'

In [97]:
l1

[45, 3, [2, 3, 4], [2, 3, 4], 4]

In [98]:
l1.pop(3)

[2, 3, 4]

In [99]:
l1

[45, 3, [2, 3, 4], 4]

In [100]:
l1.remove(3)      # remove, value ko delete krta h 
                     # pop, index ko delete krta h

In [101]:
l1

[45, [2, 3, 4], 4]

In [102]:
l1.remove([2,3,4])

In [103]:
l1

[45, 4]

In [104]:
l1.remove(345)

ValueError: list.remove(x): x not in list

In [106]:
l1.insert(1,[2,3,4,5])

In [108]:
l1

[45, [2, 3, 4, 5], 4]

In [109]:
l1[1].remove(3)    # list ke andr ke list se element ko remove kr rhe h

In [110]:
l1

[45, [2, 4, 5], 4]

In [111]:
l1.append('sudh')

In [112]:
l1

[45, [2, 4, 5], 4, 'sudh']

In [114]:
l1[3].remove('dh')                 # string immutable object h iss liye ham isse remove nhi kar skte h

AttributeError: 'str' object has no attribute 'remove'

In [115]:
l1.append(4)

In [116]:
l1

[45, [2, 4, 5], 4, 'sudh', 4]

In [117]:
l1.remove(4)    # remove , sbse phle vale ko remove krega
                    # jaise iss case me do 4 hai pr remove ne phle vale 4 ko remove kiya

In [118]:
l1

[45, [2, 4, 5], 'sudh', 4]

In [119]:
l1[::-1]      # ye temporary reverse krta h , original list change nhi hoti h

[4, 'sudh', [2, 4, 5], 45]

In [120]:
l1.reverse()    # ye permanent list ko reverse kr deta h, original list v change ho jati h

In [121]:
l1

[4, 'sudh', [2, 4, 5], 45]

In [122]:
# agar hamne l1[::-1] ko assign kr diya tb ye v permanent ho jayega , kyuki hamne value hi assign kr di

l1 = l1[::-1]      # issne l1 [4, 'sudh', [2, 4, 5], 45] ki value ko reverse kr diya

In [123]:
l1

[45, [2, 4, 5], 'sudh', 4]

In [124]:
l1.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [127]:
l2 = [2,5,4,7,3,8,9]

In [128]:
l2.sort()    # data ko ascending order me sort kr liya

In [129]:
l2

[2, 3, 4, 5, 7, 8, 9]

In [130]:
l1

[45, [2, 4, 5], 'sudh', 4]

In [131]:
l1.sort()     # l1 me data sort  nhi kr pa rha kyuki , l1 me datatypes different h

TypeError: '<' not supported between instances of 'list' and 'int'

In [132]:
'''

sort comparision krta h similar data ke bich me ,

but 

agr data hi different types ka h to comparision kaise hoga 

# iss liye error dikha rha hai

'''

'\n\n\nsort comparision keta h data ke bich me ,\n\nbut \n\nagr data hi different types ka h to comparision kaise hoga \n\n# iss liye error dikha rha hai\n\n'

In [133]:
l3 = [34,'sudh',45,12,'kumar']

In [134]:
l3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [135]:
l4 = ["sudh",'kumar',"pwskills",'data science']

In [136]:
l4.sort()

In [138]:
l4     # alphabetical ascending order me sort kr diya

['data science', 'kumar', 'pwskills', 'sudh']

In [140]:
# agr descinding order me krna h to

l4.sort(reverse=True)

In [141]:
l4

['sudh', 'pwskills', 'kumar', 'data science']

In [143]:
l4.index("sudh")   # kis index pr data h vo btayega

0

In [144]:
l4.count("sudh")   # kitne baar element aaya hua h count btata h

1

In [145]:
s = "sudh"

In [146]:
l5 = [3,4,5,6]

In [147]:
s[0]

's'

In [148]:
s[0] = 'a'    #immutable

TypeError: 'str' object does not support item assignment

In [149]:
l5[0]

3

In [150]:
l5[0] = 30      #mutable ( agr ham index me kisi bhi data ko change kr skte h same position me)

In [151]:
l5

[30, 4, 5, 6]

In [153]:
s.replace('s','a')    # ye pure new object hi generate kr rha h , kyuki string immutable hota h

'audh'

In [154]:
s       # s ke call pr 'sudh' hi aaya na ki 'audh'

'sudh'

Tuples

list square bracket [] ke andr hota h
tuple paranthesis () ke andr hota h

In [156]:
t = (2,3,4,5,"sudh",45.6,True,3+6j,[8,9,0])   # tuples bhi different datatypes stores kr skta h

In [157]:
t

(2, 3, 4, 5, 'sudh', 45.6, True, (3+6j), [8, 9, 0])

In [158]:
type(t)

tuple

In [159]:
len(t)

9

In [160]:
t[0]

2

In [161]:
t[-1]

[8, 9, 0]

In [162]:
t[::-1]

([8, 9, 0], (3+6j), True, 45.6, 'sudh', 5, 4, 3, 2)

In [163]:
l4

['sudh', 'pwskills', 'kumar', 'data science']

In [164]:
l4[0] = 45

In [165]:
l4

[45, 'pwskills', 'kumar', 'data science']

In [166]:
t[0]

2

In [167]:
t[0] = 45      # tuple is immutable , thats where it differs from list

TypeError: 'tuple' object does not support item assignment

In [168]:
t.count(5)

1

In [171]:
t.index(True)

6

Set

In [5]:
s1 = {}   # jab curly bracket blank ho tb python ise dictionary manta hai

In [2]:
type(s1)    # dict means dictionary

dict

In [3]:
s2 = {2,3,4,5,6}

In [4]:
type(s2)

set

In [6]:
s3 = {2,3,4,5,"sudh",45+7j, [6,7,8]}   # set ke andr list nhi accept kr rha
                                       # set sirf immutable data ko hi accept krta .

TypeError: unhashable type: 'list'

In [7]:
s4 = {2,3,4,5,"sudh",45+7j, (0,1,2)}

In [8]:
s5 = {2,3,4,5,6,2,2,3,4,5,2,3,1,2,3,4,5,6,1,2,3,2}

In [9]:
s5        #set duplicate data ko remove krke , unique data provide krta h

{1, 2, 3, 4, 5, 6}

In [10]:
s6 = {2,3,4,5,6,2,2,3,4,5,2,3,1,2,3,4,5,6,1,2,3,2,'Sudh','sudh'}

In [11]:
s6     #python is a case-sensitive language

{1, 2, 3, 4, 5, 6, 'Sudh', 'sudh'}

In [13]:
l6 = [2,3,4,5,6,2,2,3,4,5,2,3,1,2,3,4,5,6,1,2,3,2,'Sudh','sudh']  # iss list se mughe same elements remove krna h

In [22]:
set(l6)    #set function ko call krke ussme l6 ko pass kr denge

{1, 2, 3, 4, 5, 6, 'Sudh', 'sudh'}

In [17]:
l6 = list(set(l6))

In [26]:
l6

[1, 2, 3, 4, 5, 6, 'sudh', 'Sudh']

In [27]:
s7 = {234,45,23,123,567,2,45,789,234,'abc',456,567,789,'abc'}

In [29]:
s7   #set never creates ordered collection of elements

{123, 2, 23, 234, 45, 456, 567, 789, 'abc'}

In [31]:
s7[0]   #set ke andr indexing nhi kr skte,because iske elements ka order fix nhi hota h

TypeError: 'set' object is not subscriptable

In [32]:
s7[::-1]   #set ke andr slicing bhi nhi kr skte hai

TypeError: 'set' object is not subscriptable

In [33]:
s7.add(4)

In [34]:
s7

{123, 2, 23, 234, 4, 45, 456, 567, 789, 'abc'}

In [35]:
s7.remove(234)

In [36]:
s7

{123, 2, 23, 4, 45, 456, 567, 789, 'abc'}